nav-height = 80px
nav-brand-font-size = 20px
nav-brand-ruby-text-height = 28px
nav-items-text-height = 24px
nav-content-padding = 20px
nav-button-size = 50px
font-serif = 'Source Han Serif SC','Source Han Serif','source-han-serif-sc','PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif
font-meta-serif = 'PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif
font-sans-japanese = '游ゴシック体','Yu Gothic',"YuGothic",'ヒラギノ角ゴシック Pro','Hiragino Kaku Gothic Pro',"メイリオ","Meiryo","Osaka",'ＭＳ Ｐゴシック','MS PGothic',sans-serif
font-sans-chinese = 'Merriweather Sans',Helvetica,Tahoma,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif
font-eqwidth = consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace, Helvetica Neue For Number;
main-color = #3877d9