@keyframes slide-in-left {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes jump-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10px);
    }
}

@keyframes jump-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

.fadein {
    animation: 1s ease-out 0s 1 fade-in;
}

.main-font {
    font-family: 'Source Han Serif SC','Source Han Serif','source-han-serif-sc','PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif;
}

main hr {
    margin: 25px auto 0;
    border-color: rgba(197, 197, 197, 0.27);
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #3877d9;
    outline: 1px solid slategrey;
}

.scrollbar {
    position: fixed;
    z-index: 10000;
    height: 3px;
    /*transition: all .1s linear;*/
    top: 0;
    background-color: #3877d9;
}

.footer {
    text-align: center;
    color: rgba(148, 148, 148, 0.79);
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
}

.footer .heart {
    color: dodgerblue;
}

.footer > div {
    margin-top: 0.7em;
}

.footer a {
    color: rgb(79, 79, 79);
}

.footer p {
    margin-top: 5px;
}

.footer img {
    height: 1.2em;
    max-height: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

.button-totop {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(208, 208, 208, 0.91);
    outline:none;
    border: 2px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;

    opacity: 1;
    visibility: visible;
    transition: opacity 600ms, visibility 600ms;
}

.button-totop:active {
    color: black;
}

.button-totop:hover {
    animation-duration: 0.3s;
    animation-name: jump;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

/************************************************************/

.pagination-bar {
    width: 60%;
    margin: 50px auto 50px auto;
}

.pagination-one {
    text-align: center;
}

.pagination-bar .pagination-older, .pagination-bar .pagination-newer {
    display: inline-block;
    font-size: 20px;

}

.pagination-bar .pagination-older a, .pagination-bar .pagination-newer a{
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    display: inline-block;
    color: #000;
    background-color: rgba(180, 180, 180, 0.67);
    transition: all .2s linear;
}

.pagination-bar .pagination-older a:hover, .pagination-bar .pagination-newer a:hover{
    color: white;
    background-color: #3877d9;
}

.pagination-bar .pagination-older + .pagination-newer {
    float: right;
}

@media only screen and (max-width: 1090px) {
    .button-totop {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .pagination-bar {
        width: 100%;
    }
    .main-font {
        font-family: 'Merriweather Sans',Helvetica,Tahoma,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif;
    }
}

@media only screen and (max-width: 440px) {
    .footer img {
        margin-left: 0;
        margin-right: 0;
    }
}