.full-bg {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /*-moz-background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
    transition: background-image 0.4s ease-in-out;
}

main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.73);
    padding: 1px 20px;
}

main article {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.59);
    margin-top: 50px;
    margin-bottom: 0;
    position: relative;
    height: 330px;
    transition: all .2s linear;
}

main article:hover {
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.94);
    transition: all .2s linear;
}

main article:hover .article-thumb a img {
    transform: scale(1.1);
}

main article .article-thumb {
    width: 55%;
    float: left;
}

main article .article-thumb a {
    overflow: hidden;
    display: block;
    height: 330px;
    border-radius: 10px 0 0 10px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

main article .article-thumb a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .2s linear;
}

main article .article-thumb-right {
    float: right;
}

main article .article-thumb-right a {
    border-radius: 0 10px 10px 0;
}

main article .article-content {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    float: left;
    display: inline-block;
    width: 40%;
    padding-left: 20px;
    padding-right: 10px;
}

main article .article-content-right {
    float: right;
    padding-right: 30px;
    padding-left: 0;
}

main article .article-content .article-title {
    margin-top: 0.7em;
    margin-bottom: 0.6em;
    color: rgba(80, 78, 78, 0.80);
    font-weight: 800;
    font-size: 1.17em;
}

main article .article-content .article-title a {
    color: rgba(80, 78, 78, 0.80);
    transition: all .2s linear;
}

main article .article-content .article-title a:hover {
    color: #3877d9;
    transition: all .2s linear;
}

main article .article-content .article-date {
    color: rgba(136, 136, 136, 0.9);
    font-size: 13px;
}

main article .article-content .article-meta {
    color: rgba(136, 136, 136, 0.9);
    font-size: 13px;
}

main article .article-content .article-meta span {
    color: rgba(136, 136, 136, 0.9);
    font-size: 13px;
    margin-right: 15px;
}

main article .article-content .article-description {
    margin-top: 1.7em;
    margin-bottom: 1em;
    color: rgba(104, 101, 101, 0.78);
    font-size: 16px;
    height: 100px;
    line-height: 25px;     /* fallback */

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

main article .article-content .article-bottom {
    margin-top: 1.5em;
    font-size: 17px;
}

main article .article-content .article-bottom a {
    color: rgba(86, 86, 86, 0.79);
    transition: all .2s linear;
}

main article .article-content .article-bottom a:hover {
    color: #3877d9;
    transition: all .2s linear;
}

/*********************************************************************************************************************/

.nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    transition: all .2s;
    z-index: 9999;
}

.nav:hover {
    background: rgba(255, 255, 255, 0.82);
}

.nav:hover .nav-container * {
    color: black;
}

.nav:hover .nav-brand .nav-emphasize-box {
    background: rgba(255, 255, 255, 0.0);
}

.nav .nav-container {
    padding-left: 20px;
    padding-right: 20px;
}

.nav .nav-brand {
    padding-top: 27px;
    padding-left: 35px;
    font-family: 'Source Han Serif SC','Source Han Serif','source-han-serif-sc','PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif;
    font-weight: 800;
    font-size: 20px;
    float: left;
    animation: 1s ease-out 0s 1 slide-in-left;
}

.nav .nav-brand a {
    color: white;
}

.nav .nav-brand .nav-emphasize-box {
    background: rgba(255, 255, 255, 0.29);
    border-radius: 5px;
}

.nav:hover .nav-brand:hover * {
    color: #3877d9;
}

.nav:hover .nav-brand * {
    transition: all .2s linear;
}

.nav:hover .nav-brand:hover .nav-emphasize-box {
    background: #3877d9;
}

.nav:hover .nav-brand:hover .nav-emphasize-box * {
    color: white;
}

.nav:hover .nav-brand:hover .nav-emphasize-box rt {
    color: #3877d9;
}

.nav .nav-items {
    float: right;
    animation: 1s ease-out 0s 1 slide-in-right;
}

.nav .nav-items > * {
    font-family: 'Source Han Serif SC','Source Han Serif','source-han-serif-sc','PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif;
    font-size: 16px;
    color: white;
    margin-right: 20px;
    font-weight: 800;
    padding-top: 29px;
    padding-bottom: 29px;
    display: inline-block;
    position: relative;
}

.nav:hover .nav-items * {
    transition: all .2s ease-in-out;
}

.nav:hover .nav-items > *:hover * {
    color: #3877d9;
}

@media only screen and (min-width: 760px) {
    .nav .nav-items > *:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 6px;
        background-color: #3877d9;
        width: 100%;
        max-width: 0;
        transition: max-width .2s ease-in-out;
    }

    .nav:hover .nav-items > *:hover:after {
        max-width: 100%;
    }
}

.nav-scroll-down {
    background: rgba(255, 255, 255, 0.82);
}

.nav-scroll-down .nav-container * {
    color: black;
}

.nav-scroll-down .nav-brand .nav-emphasize-box {
    background-color: rgba(255, 255, 255, 0);
}

/******************************************************/

.screen-left-button {
    outline: none;
    border: none;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    height: 100%;
    width: 100px;
    position: absolute;
    padding: 0;
    opacity: 0;
    color: rgba(255, 255, 255, 0.76);
    font-size: 32px;
    text-align: center;
    left: 0;

    transition: all .3s;
    cursor: pointer;
}

.screen-left-button:hover {
    opacity: 1;
}

.screen-left-button:hover * {
    animation-duration: .5s;
    animation-name: jump-left;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

.screen-right-button {
    outline: none;
    border: none;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    height: 100%;
    width: 100px;
    position: absolute;
    padding: 0;
    opacity: 0;
    color: white;
    font-size: 32px;
    text-align: center;
    right: 0;

    transition: all .3s;
    cursor: pointer;
}

.screen-right-button:hover {
    opacity: 1;
}

.screen-right-button:hover :not(.fa-spin){
    animation-duration: .5s;
    animation-name: jump-right;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

/**************************************************************/

@media only screen and (max-device-width: 760px) {
    .full-bg {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 760px) {
    main {
        background-color: rgba(255, 255, 255, 0.80);
    }
    main article {
        overflow:auto;
        height: auto;
    }
    main article .article-thumb {
        width: 100%;
        float: none;
    }
    main article .article-thumb a {
        border-radius: 10px 10px 0 0;
    }
    main article .article-thumb-right {
        float: none;
    }
    main article .article-thumb-right a {
        border-radius: 10px 10px 0 0;
    }

    main article .article-content {
        padding-left: 0;
        padding-right: 0;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        display: block;
        float: none;
    }
    main article .article-content-right {
        padding-left: 0;
        padding-right: 0;
        float: none;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        display: block;
    }
    main article .article-content .article-title {
        text-align: center;
    }
    main article .article-content .article-meta {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    main article .article-content .article-bottom {
        margin-bottom: 2em;
    }
    .nav .nav-brand {
        padding-left: 5px;
    }

    .nav .nav-items > * {
        margin-right: 20px;
    }

    .nav .nav-items .nav-text {
        display: none;
    }
}


@media only screen and (max-width: 380px) {
    .nav .nav-items > * {
        margin-right: 12px;
    }
}
