<% if (page.title) { %>
<nav id="sora-nav" class="nav nav-scroll-down">
<% } else { %>
<nav id="sora-nav" class="nav">
<% } %>
    <div class="nav-container">
        <div class="nav-brand">
            <a href="<%= url_for('')%>"><span class="nav-emphasize-box"><ruby>青<rp></rp><rt>あお</rt><rp></rp>い</ruby></span><span><ruby>空<rp></rp><rt>そら</rt><rp></rp>へ</ruby></span></a>
        </div>
        <div class="nav-items">
            <% for (var index in theme.navbar) {%>
            <% var item = theme.navbar[index] %>
            <a href="<%= url_for(item.url) %>"><i class="<%= item.icon %>" aria-hidden="true"></i> <span class="nav-text"><%= item.name %></span></a>
            <% } %>
            <!--<span><i class="fa fa-search" aria-hidden="true"></i> <span class="nav-text">搜索</span></span>-->
        </div>
    </div>
</nav>