<% if (is_content_screen === 'none') { %>
<%} else if (is_content_screen) {
    const image_url = page.thumb;
%>
<div id="sora-screen" style="position: relative;">
    <figure id="sora-screen-img" class="post-bg" style="background-image: url('<%= url_for(image_url) %>')">
        <div class="post-info">
            <h1 class="post-title"><%= page.title %></h1>
            <% if (page.date) { %>
            <div class="post-date"><i class="fa fa-clock-o"></i> 发布于 <%= date(page.date, null) %></div>
            <% } %>
        </div>
    </figure>
</div>
<% } else { %>
<div id="sora-screen" style="position: relative;">
    <figure id="sora-screen-img" class="full-bg">
        <button id="kit-screen-left" class="screen-left-button"><i id="kit-screen-left-icon" class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button id="kit-screen-right" class="screen-right-button"><i id="kit-screen-right-icon" class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </figure>
</div>
<script>
    const backgrounds = '<%= theme.backgrounds.map(function(e) {return url_for(e);}) %>'.split(',');
    const screen_img = $('#sora-screen-img');
    let current_bg = Math.floor(Math.random() * backgrounds.length);
    const load_image = function(src, call_back) {
        const img = new Image();
        img.src = src;
        img.onload = call_back;
        return img;
    }
    screen_img.css('background-image', 'url("' + backgrounds[current_bg] + '")');
    const on_left_click = function (event) {
        event.preventDefault();
        $('#kit-screen-left-icon').removeClass("fa-chevron-left").addClass("fa-spinner fa-spin");
        $('#kit-screen-right-icon').removeClass("fa-chevron-right").addClass("fa-spinner fa-spin");
        current_bg = current_bg - 1 + backgrounds.length;
        current_bg %= backgrounds.length;
        load_image(backgrounds[current_bg], function () {
            screen_img.css('background-image', 'url("' + backgrounds[current_bg] + '")');
            $('#sora-screen-img').addClass("push-left");
            $('#kit-screen-left-icon').removeClass("fa-spinner fa-spin").addClass("fa-chevron-left");
            $('#kit-screen-right-icon').removeClass("fa-spinner fa-spin").addClass("fa-chevron-right");
            $('#kit-screen-left').one('click', on_left_click);
        });
    };
    const on_right_click = function (event) {
        event.preventDefault();
        $('#kit-screen-left-icon').removeClass("fa-chevron-left").addClass("fa-spinner fa-spin");
        $('#kit-screen-right-icon').removeClass("fa-chevron-right").addClass("fa-spinner fa-spin");
        current_bg += 1;
        current_bg %= backgrounds.length;
        load_image(backgrounds[current_bg], function () {
            screen_img.css('background-image', 'url("' + backgrounds[current_bg] + '")');
            $('#sora-screen-img').addClass("push-right");
            $('#kit-screen-left-icon').removeClass("fa-spinner fa-spin").addClass("fa-chevron-left");
            $('#kit-screen-right-icon').removeClass("fa-spinner fa-spin").addClass("fa-chevron-right");
            $('#kit-screen-right').one('click', on_right_click);
        });
    };

    $('#kit-screen-left').one('click', on_left_click);
    $('#kit-screen-right').one('click', on_right_click);
</script>
<% } %>